
/* color, border, and image for all the navigation bar */

.navbar {
  background-color: #f36119; /* orange */
  background-image: url("./img/tile-d-bg.png");
  border: none;
}

.navbar-toggle {
  border-color: white;
}
.navbar-toogle,
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: black;
}
.navbar-toggle .icon-bar {
  background-color: white;
}

/* details of the left brand text, use background and spacing for logo */

.navbar-brand {
  height: 80px;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 130px;
  background-image: url("./img/osu_logo_back2.png");
  background-repeat: no-repeat;
  color: #ffffff !important;
}

.navbar-nav {
	padding-right: 30px;
}

/* Details for navigation links */

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Play', sans-serif;
  font-size: 15px;
  color: white !important;
}

.nav >li >a:hover {
	background-color: #4f4f4f !important;
	background-image: url("./img/tile-d-bg.png");
}

/* Details for active link */

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #ecdbff; /* gray */
  background-color: #000000 !important;   /* prevents general :hover from changing background */
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

p {
	font-family: 'Roboto Slab', sans-serif;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'Play', sans-serif;
}

#name {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 0px;
}
#subname {
	text-align: right;
	margin-bottom: 10px;
	margin-top: 0px;
}

.my-info {
	font-family: 'Roboto Slab', sans-serif;
	padding-left: 0px;
	padding-right: 10px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-max-230 {
    /* custom max width */
    max-width:230px;
}

.col-max-550 {
    /* custom max width */
    max-width:550px;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.no-decor{
	text-decoration: none !important;
}

/* Details for when screen size is smaller tan 767px */

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
}

.custom {
	height: 60px;
}

.text {
	overflow: hidden;
}

.cust-margin {
	margin-top: 4px;
	margin-bottom: 4px; 
}

footer {
    background-color: lightgray;
}