/* Global body style*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
}

/* Global link decoration */

a:hover{text-decoration: none;}

/* Global Font */

h1, h2, h3, h4, h5, h6, p, label, .btn, div, a{
	font-family: 'Roboto Mono', monospace;
}

/* Global size width */

.container{
	max-width:970px;
}

.nav{
    width:100%;
    padding: 10px 10px 10px 10px;
    clear:both;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    background-size: cover;
    background: repeat;
    background-image:url("img/tile_bg.png");
    background-color:#d96c10;
}

.title {
    padding:15px 15px;
    font-family: 'Exo', sans-serif;
    font-size: 38px;
    color:#ffffff!important;
}

.title img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}

.title:hover{
    color:#cccccc!important;
}

@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
}